{% extends "main.html" %}

{% block content %}
    {% if output %}
    <caption>List of sprints</caption><br />
    <a id="add" href="{% url 'sprint:create' %}" type="button" class="btn btn-primary">Create new <i class="bi bi-plus-circle" style="font-size: 1rem;"></i></a>
    <a href="{% url 'person:persons' %}" type="button" class="btn btn-primary">Show person list <i class="bi bi-plus-circle" style="font-size: 1rem;"></i></a>
    <table class="table table-striped table-hover">
        <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col" style="width:5%"></th>
                <th scope="col" style="width:5%"></th>
            </tr>
        </thead>
        <tbody>
        {% for item in output %}
            <tr>
                <th scope="row">{{ item.id }}</th>
                <td><a href="{% url 'capacity:detail' item.id  %}">{{ item.name }}</a></td>
                <td><a href="{% url 'sprint:update' item.id %}"><i class="bi bi-pencil" style="font-size: 1rem;"></i></a></td>
                <td><a href="{% url 'sprint:delete' item.id %}"><i class="bi bi-x-lg" style="font-size: 1rem;"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        <div class="align-middle">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </div>
    </div>
    {% else %}
    <p>No data is available.</p>
    {% endif %}
{% endblock %}